<%- layout('./boilerplate') %>
<div style="display:flex;align-items:center;justify-content: center; flex-direction: column; height: 500px; width: 500px;">
    <h1 style="color: white">Page Not Found</h1>
    <a href="/" style="color: orange; text-decoration: none; margin-top: 50px;">Go back gome</a>
</div>